@model MVC_EF_Start.Models.Visit

@{
    Layout="_LayoutBooking";
	ViewData["Title"] = "Index";
}


<div class="panel">
    <div class="panel-heading">
        <h2>Nowa rezerwacja</h2>
    </div>
    <div class="panel-body">
        <p class="lead">To add a reservation, enter the necessary data:</p>

        @using (Html.BeginForm()) {

            @Html.ValidationSummary()



            <div class="form-group">
                @Html.LabelFor(x => x.VisitDateTime, "Date and time of visit:")
                @Html.TextBoxFor(x => x.VisitDateTime, new { @class = "form-control", @type = "datetime-local" })

            </div>
            

            <h3><b>Stolik</b></h3>
            <div class="form-group">
                @Html.LabelFor(x => x.VisitTable.Size, "Size:")
                @Html.DropDownListFor(x => x.VisitTable.Size, new SelectList(new[] { 2, 4, 6, 8 }), new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.VisitTable.TableLocation, "Location:")
                @Html.DropDownListFor(x => x.VisitTable.TableLocation,
                                  new SelectList(Enum.GetNames(typeof(MVC_EF_Start.Domain.Entities.Location))), new { @class = "form-control" })
            </div>

            <div class="text-center">
                @Html.ActionLink("Powrót do listy", "List", "Booking",null, new { @class="btn btn-primary"})       
                <input class="btn btn-success" type="submit" value="Book it" />
            </div>

        }

        
    </div>
</div>